#tools {
position: fixed;
top: 10px;
left: 55px;
cursor: pointer;
display:inline-block;
border:3px solid lightgrey;
padding:0.2em;
border-radius:10px;
background-color:lavender;
font-size: 15px;
opacity: 0.8;
}
#tools input + label {
padding:0.2em;
margin:0.2em;
border: 3px solid lavender;
border-radius: 100px;
} 
#tools input:checked + label {
border-color:gold; 
} 
#tools div {
margin:0.2em;
padding:0.2em;
display:inline-block;
border: 3px solid lavender;
border-radius:100px;
}
#tools div:hover {
display:inline-block;
 border-color:gold;
}
#HideTools + label {
position: fixed;
top:10px;
left:10px;
border:3px solid lightgrey;
padding:0.1em;
background-color:lavender;
margin:0;
border-radius: 100px;
font-size: 30px;
}
canvas {
border:1px solid;
border-radius:5px;
cursor: crosshair;
position: fixed;
top:5px;
left:5px;
}